// ===============
// colors palette
// ===============
:root {
	--primary: #000;
	--white: #fff;
	--green-light: #91E600;
	--green: #3F7220;
	--green2: #179D10;
	--purple: #4600A8;
	--purple2: #7A3DCF;
	--blue: #1619AD;
	--blue2: #3153DA;
	--gold: #A66C0E;
	--brown: #855B34;
	--brown-dard: #231F20;
	--orange: #EA6D00;
}
