// ===============
// colors palette
// ===============
:root {
	--primary: #000;
	--white: #fff;
	--green-light: #91E600;
	--green: #3F7220;
	--purple: #4600A8;
	--blue: #1619AD;
	--gold: #A66C0E;
	--brown: #855B34;
	--orange: #EA6D00;
}
