@font-face {
  font-family: SofiaSans;
  font-display: swap;
  src: url(../fonts/SofiaSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: SofiaSans;
  font-display: swap;
  src: url(../fonts/SofiaSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
:root {
  --primary: #000;
  --white: #fff;
  --green-light: #91E600;
  --green: #3F7220;
  --green2: #179D10;
  --purple: #4600A8;
  --blue: #1619AD;
  --gold: #A66C0E;
  --brown: #855B34;
  --brown-dard: #231F20;
  --orange: #EA6D00
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
html {
  min-height: 100vh
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: SofiaSans,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent
}
button,
input,
textarea {
  font-family: SofiaSans,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
body {
  scrollbar-gutter: stable
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: fixed;
  inset: 0;
  overflow: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: 2.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: .625rem
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  border-radius: .625rem;
  background-color: #100c46;
  box-shadow: 0 0 .1875rem #6257fe,0 0 1.875rem rgba(255,255,255,.8);
  border: .0625rem solid #fff;
  opacity: .6;
  transition: opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s
}
.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-.3125rem,-.125rem,0);
  transform: translate3D(-.3125rem,-.125rem,0);
  box-shadow: .3125rem .125rem .1875rem #100c46,0 0 1.875rem rgba(255,255,255,.8)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
body {
  background-color: var(--brown-dard);
  color: var(--white)
}
*::-webkit-scrollbar {
  width: 4px
}
*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  padding: .0625rem
}
*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 2px;
  background-clip: padding-box
}
[class*=__container] {
  width: 100%;
  padding-inline: 1.25rem;
  margin-inline: auto;
  max-width: 75.25rem
}
.advantages__block {
  display: grid;
  place-items: center
}
.advantages__container {
  display: flex;
  align-items: center
}
.circle,
.preloader-main__el,
.preloader-main__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.advantages__item,
.icon-menu,
.menu__body {
  box-shadow: 2px 2px 0 0 #231f20
}
.title-36,
.title-46 {
  text-shadow: 2px 2px 0 0 #231f20
}
.advantages .section-wrapper,
.preloader-main__el {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}
.advantages__item::after,
.advantages__item::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}
.advantages,
.sliders {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.circle {
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(200px);
  -webkit-filter: blur(200px)
}
.circle--sm {
  max-width: 11.5rem
}
.bg-green-light {
  background-color: var(--green-light)
}
.bg-green-2 {
  background-color: var(--green2)
}
.bg-purple {
  background-color: var(--purple)
}
.bg-orange {
  background-color: var(--orange)
}
.bg-blue {
  background-color: var(--blue)
}
.bg-white {
  background-color: var(--white)
}
.preloader-main {
  background-color: var(--green-light);
  position: fixed;
  z-index: 20;
  inset: 0;
  overflow: hidden
}
.loaded .preloader-main {
  transition: opacity .65s ease 2s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 1s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 1s,opacity .65s ease 2s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 1s,opacity .65s ease 2s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 1s;
  opacity: 0;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-100%)
}
.preloader-main__el {
  width: 100%;
  height: 100%;
  max-width: 90rem;
  z-index: 1
}
.preloader-main__logo {
  z-index: 2
}
.section-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}
.title-46 {
  font-weight: 700
}
.title-36 {
  font-weight: 700
}
.header {
  position: fixed;
  z-index: 15;
  width: 100%;
  left: 0;
  pointer-events: none
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__logo {
  pointer-events: all
}
.header__menu {
  pointer-events: all
}
.menu {
  position: relative;
  color: var(--primary)
}
.menu__body {
  position: absolute;
  top: 0;
  right: 4.375rem;
  background-color: var(--white);
  opacity: 0
}
.menu-open .menu__body {
  opacity: 1
}
.menu__list {
  display: flex;
  padding-inline: 1.5rem;
  gap: 1.5rem
}
.menu__link {
  font-size: 1.5rem;
  font-weight: 700;
  transition: color .3s ease
}
.icon-menu {
  display: grid;
  place-items: center;
  width: 3.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white)
}
.icon-menu__item {
  position: relative;
  width: 1.5rem;
  height: 1rem;
  z-index: 5
}
.icon-menu__item span,
.icon-menu__item::after,
.icon-menu__item::before {
  content: "";
  transition: all .3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: .125rem;
  border-radius: 2px;
  background-color: #000
}
.icon-menu__item::before {
  top: 0
}
.icon-menu__item::after {
  bottom: 0
}
.icon-menu__item span {
  top: calc(50% - .0625rem);
  width: 70%;
  right: unset;
  left: 0
}
.menu-open .icon-menu__item span {
  width: 0
}
.menu-open .icon-menu__item::before {
  top: calc(50% - .0625rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu-open .icon-menu__item::after {
  bottom: calc(50% - .0625rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.advantages__container {
  flex-direction: column;
  justify-content: center
}
.advantages__title {
  text-align: center
}
.advantages__slider {
  max-width: 72.5rem;
  width: 100%
}
.advantages__item {
  position: relative;
  background-color: var(--white);
  border-radius: 2.5rem;
  padding-block: 4.375rem;
  padding-inline: 1.25rem
}
.advantages__item::after,
.advantages__item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 100%;
  aspect-ratio: 370/70
}
.advantages__item::before {
  top: 0;
  background-image: url(../img/advantages/header.webp)
}
.advantages__item::after {
  bottom: 0;
  background-image: url(../img/advantages/footer.webp)
}
.advantages__block {
  border-radius: 1.875rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  min-height: 17.6875rem
}
.swiper {
  overflow: visible
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .preloader-main__logo {
    -webkit-transform: scale(.5) translate(-50%,-50%);
    transform: scale(.5) translate(-50%,-50%);
    max-width: 61.25rem;
    width: 67vw;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
  }
  .loaded .preloader-main__logo {
    transition: -webkit-transform .65s ease 0s;
    transition: transform .65s ease 0s;
    transition: transform .65s ease 0s,-webkit-transform .65s ease 0s;
    -webkit-transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%)
  }
  .header {
    top: 5.4375rem
  }
}
@media (min-width:51.31125em) {
  .advantages__container {
    padding-top: 5.25rem;
    padding-bottom: 9.375rem
  }
}
@media (min-width:61.99875em) {
  .menu__body {
    border-radius: 3.125rem
  }
  .menu__list {
    min-height: 3.125rem;
    align-items: center
  }
}
@media (min-width:68.81125em) {
  .advantages__block {
    font-size: 2.25rem
  }
}
@media (min-width:90.06125em) {
  .circle--big {
    max-width: 58rem
  }
  .title-46 {
    font-size: 2.875rem
  }
  .title-36 {
    font-size: 2.25rem
  }
  .mb-40-26 {
    margin-bottom: 2.5rem
  }
}
@media (max-width:75em) {
  .fp-bullets {
    right: 1.25rem
  }
}
@media (max-width:68.81125em) {
  .advantages__block {
    font-size: 3vw
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    border-radius: 2.5rem
  }
  .menu__list {
    padding-block: 1.5rem;
    flex-direction: column
  }
}
@media (max-width:57.56125em) {
  .advantages__slider {
    max-width: 23.3125rem
  }
}
@media (max-width:51.31125em) {
  .advantages__container {
    padding-top: 10rem
  }
}
@media (max-width:47.99875em) {
  .advantages__block {
    font-size: 5vw
  }
}
@media (max-width:30.06125em) {
  .circle--big {
    max-width: 52.75rem
  }
  .title-46 {
    font-size: 2.25rem
  }
  .title-36 {
    font-size: 2.875rem
  }
  .mb-40-26 {
    margin-bottom: 1.625rem
  }
}
@media (max-width:29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    flex-direction: row;
    right: 50%
  }
  .preloader-main__logo {
    width: 77vw
  }
  .header {
    top: 1.875rem
  }
  .advantages .section-wrapper {
    background-position: 0 5.625rem!important
  }
  .advantages__container {
    padding-top: 7.5rem
  }
  .advantages__block {
    font-size: 9vw
  }
}
@media (max-width:23.49875em) {
  .header {
    top: .9375rem
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .circle--big {
    max-width: clamp(52.75rem ,50.119640625rem + 8.75vw ,58rem)
  }
  .title-46 {
    font-size: clamp(2.25rem ,1.9368619792rem + 1.0416666667vw ,2.875rem)
  }
  .title-36 {
    font-size: clamp(2.25rem ,3.1881380208rem + -1.0416666667vw ,2.875rem)
  }
  .mb-40-26 {
    margin-bottom: clamp(1.625rem ,1.1866067708rem + 1.4583333333vw ,2.5rem)
  }
}
@media (any-hover:hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1
  }
  .menu__link:hover {
    color: var(--purple)
  }
}
@media (orientation:landscape) {
  .advantages .section-wrapper,
  .preloader-main__el {
    background-image: url(../img/elements/elements-1-pc.webp)
  }
  .sliders {
    background-image: url(../img/bgs/bg-purple-pc.webp)
  }
  .advantages {
    background-image: url(../img/bgs/bg-orange-pc.webp)
  }
  .advantages__container {
    height: 100%
  }
}
@media (orientation:portrait) {
  .advantages .section-wrapper,
  .preloader-main__el {
    background-image: url(../img/elements/elements-1-mb.webp)
  }
  .sliders {
    background-image: url(../img/bgs/bg-purple-mb.webp)
  }
  .advantages {
    background-image: url(../img/bgs/bg-orange-mb.webp)
  }
  .advantages .section-wrapper {
    background-image: url(../img/elements/elements-2-mb.webp);
    background-position: 0 8.75rem
  }
}
@media (max-height:30.06125em) {
  .header {
    top: 1.875rem
  }
  .advantages__container {
    padding-top: 3.125rem
  }
}
@media (any-hover:none) {
  .icon-menu__item {
    cursor: default
  }
}