@font-face {
  font-family: SofiaSans;
  font-display: swap;
  src: url(../fonts/SofiaSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: SofiaSans;
  font-display: swap;
  src: url(../fonts/SofiaSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
:root {
  --primary: #000;
  --white: #fff;
  --green-light: #91E600;
  --green: #3F7220;
  --green2: #179D10;
  --purple: #4600A8;
  --purple2: #7A3DCF;
  --blue: #1619AD;
  --blue2: #3153DA;
  --gold: #A66C0E;
  --brown: #855B34;
  --brown-dard: #231F20;
  --orange: #EA6D00;
  --gray: #F4F4F4
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
html {
  min-height: 100vh
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: SofiaSans,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent
}
button,
input,
textarea {
  font-family: SofiaSans,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
body {
  scrollbar-gutter: stable
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  caret-color: inherit;
  font-size: 1.125rem;
  outline: 0;
  color: var(--primary)
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  color: var(--primary)
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  color: var(--primary)
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  color: var(--primary)
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s;
  color: var(--primary)
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
.form {
  overflow: hidden;
  position: relative;
  font-size: 1.125rem;
  margin-inline: auto;
  max-width: 45.625rem;
  width: 100%;
  box-shadow: 5px 5px 0 0 #231f20;
  background-color: var(--white);
  border-radius: 2.5rem
}
.form._sending button {
  pointer-events: none;
  opacity: .5
}
.form__body {
  position: relative;
  z-index: 1;
  transition: opacity .2s ease
}
._form-sent .form__body {
  opacity: 0;
  pointer-events: none
}
.form__title {
  color: var(--primary);
  text-align: center;
  margin-bottom: 1.25rem
}
.form__items {
  display: grid;
  gap: .625rem
}
.form__item {
  background-color: var(--gray);
  border-radius: 1.875rem;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
  padding-inline: 1.4375rem
}
.form__select {
  background-color: rgba(0,0,0,0);
  font-size: 1.125rem;
  font-Family: SofiaSans,sans-serif;
  display: block;
  width: 100%;
  height: 100%;
  outline: 0;
  color: #000
}
.form__select button {
  color: #000
}
.form__select option {
  color: #000;
  padding-block: 1rem
}
.form__select option:checked {
  background-color: var(--gray)
}
.form__select .option {
  padding: 10px
}
.form__button {
  background: radial-gradient(50% 50% at 50% 50%,#6300ee 0,#4900af 100%);
  border-radius: 1.875rem;
  min-height: 3.75rem;
  transition: opacity .3s ease
}
.form__msg {
  background-color: var(--white);
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary);
  font-weight: 700;
  text-align: center;
  line-height: 1.2
}
.form__msg p {
  max-width: 80%
}
._form-sent .form__msg {
  opacity: 1;
  pointer-events: all
}
.file-input {
  color: var(--primary)
}
.file-input .input-file {
  display: none
}
.file-input__label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative
}
.file-input__txts {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem
}
.file-input__txts::after {
  content: "";
  flex: 0 0 .625rem;
  background-image: url(../img/icons/clip.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: .625rem;
  height: 1.125rem
}
.file-input__txts .input-file-att {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom
}
._file-attached .file-input__txt {
  display: none
}
.file-input__remove {
  display: none;
  position: absolute;
  width: 1.4375rem;
  height: 1.4375rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,.1);
  place-items: center;
  transition: background-color .3s ease;
  background-image: url(../img/icons/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: .9375rem;
  top: 0;
  right: 0;
  -webkit-transform: translate(110%,-20%);
  transform: translate(110%,-20%)
}
._file-attached .file-input__remove {
  display: grid
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: fixed;
  inset: 0;
  overflow: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: 2.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: .625rem
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  border-radius: .625rem;
  background-color: #100c46;
  box-shadow: 0 0 .1875rem #6257fe,0 0 1.875rem rgba(255,255,255,.8);
  border: .0625rem solid #fff;
  opacity: .6;
  transition: opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s
}
.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-.3125rem,-.125rem,0);
  transform: translate3D(-.3125rem,-.125rem,0);
  box-shadow: .3125rem .125rem .1875rem #100c46,0 0 1.875rem rgba(255,255,255,.8)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
body {
  background-color: var(--brown-dard);
  color: var(--white)
}
*::-webkit-scrollbar {
  width: 4px
}
*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  padding: .0625rem
}
*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 2px;
  background-clip: padding-box
}
[class*=__container] {
  width: 100%;
  padding-inline: 1.25rem;
  margin-inline: auto;
  max-width: 75.25rem
}
.advantages__block,
.form__button,
.form__msg,
.social__link,
.tap-snack__body {
  display: grid;
  place-items: center
}
.contacts__social,
.social {
  display: flex;
  align-items: center
}
.advantages .section-wrapper:before,
.advantages__block:before,
.circle,
.contacts:before,
.preloader-main__el,
.preloader-main__logo,
.slide-sliders__animations,
.sliders .section-wrapper:before,
.snack__container:before,
.tap-snack__result {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.menu__body,
.social__link,
.tap-snack__block,
.tap-snack__btn {
  box-shadow: 2px 2px 0 0 #231f20
}
.advantages__block p,
.title-36,
.title-46,
.title-64 {
  text-shadow: 2px 2px 0 #231f20
}
.advantages__bg,
.preloader-main__el {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}
.advantages .section-wrapper:before,
.advantages__block:before,
.advantages__item::after,
.advantages__item::before,
.contacts:before,
.contacts__bg,
.sliders .section-wrapper:before,
.sliders__button::before,
.snack__bg,
.snack__container:before,
.tap-snack__bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}
.icon-menu,
.menu__lng,
.sliders__button,
.sliders__pagination.swiper-pagination .swiper-pagination-bullet {
  display: grid;
  place-items: center;
  width: 3.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 2px 2px 0 0 #231f20
}
.circle {
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(200px);
  -webkit-filter: blur(200px)
}
.circle--sm {
  max-width: 11.5rem
}
.bg-green-light {
  background-color: var(--green-light)
}
.bg-green-2 {
  background-color: var(--green2)
}
.bg-purple {
  background-color: var(--purple)
}
.bg-purple-2 {
  background-color: var(--purple2)
}
.bg-orange {
  background-color: var(--orange)
}
.bg-blue {
  background-color: var(--blue)
}
.bg-blue-2 {
  background-color: var(--blue2)
}
.bg-white {
  background-color: var(--white)
}
.preloader-main {
  background-color: var(--green-light);
  position: fixed;
  z-index: 20;
  inset: 0;
  overflow: hidden
}
.loaded .preloader-main {
  transition: opacity .65s ease 2.6s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 1.6s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 1.6s,opacity .65s ease 2.6s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 1.6s,opacity .65s ease 2.6s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 1.6s;
  opacity: 0;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-100%)
}
.preloader-main__el {
  width: 100%;
  height: 100%;
  max-width: 90rem;
  z-index: 1
}
.preloader-main__logo {
  z-index: 2
}
.section-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 1
}
.title-64 {
  font-weight: 700
}
.title-46 {
  font-weight: 700
}
.title-36 {
  font-weight: 400
}
.title-26 {
  font-weight: 700
}
.title-24 {
  font-weight: 700
}
.header {
  position: fixed;
  z-index: 15;
  width: 100%;
  left: 0;
  pointer-events: none
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__logo {
  pointer-events: all
}
.header__menu {
  pointer-events: all
}
.menu {
  position: relative;
  color: var(--primary)
}
.menu__block {
  display: flex;
  align-items: center;
  gap: .9375rem
}
.menu__lng {
  font-size: 1.25rem;
  font-weight: 700;
  transition: color .3s ease
}
.menu__body {
  position: absolute;
  top: 0;
  right: 4.0625rem;
  background-color: var(--white);
  opacity: 0
}
.menu-open .menu__body {
  opacity: 1
}
.menu__list {
  display: flex;
  padding-inline: 1.5rem;
  gap: 1.5rem
}
.menu__link {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  transition: color .3s ease;
  white-space: nowrap
}
.icon-menu__item {
  position: relative;
  width: 1.5rem;
  height: 1rem;
  z-index: 5
}
.icon-menu__item span,
.icon-menu__item::after,
.icon-menu__item::before {
  content: "";
  transition: all .3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: .125rem;
  border-radius: 2px;
  background-color: #000
}
.icon-menu__item::before {
  top: 0
}
.icon-menu__item::after {
  bottom: 0
}
.icon-menu__item span {
  top: calc(50% - .0625rem);
  width: 70%;
  right: unset;
  left: 0
}
.menu-open .icon-menu__item span {
  width: 0
}
.menu-open .icon-menu__item::before {
  top: calc(50% - .0625rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu-open .icon-menu__item::after {
  bottom: calc(50% - .0625rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.sliders .section-wrapper {
  transition: background-color .5s ease
}
.sliders .section-wrapper:before {
  content: "";
  background-image: url(../img/elements/circle-blur-big.svg);
  aspect-ratio: 1
}
.sliders .section-wrapper.slide-active-01 {
  background-color: var(--purple)
}
.sliders .section-wrapper.slide-active-02 {
  background-color: var(--green)
}
.sliders .section-wrapper.slide-active-03 {
  background-color: var(--blue)
}
.sliders .section-wrapper.slide-active-04 {
  background-color: var(--gold)
}
.sliders .section-wrapper.slide-active-05 {
  background-color: var(--brown)
}
.sliders__slider {
  position: relative;
  max-width: 75.25rem
}
.sliders__slide {
  transition: opacity .2s ease;
  opacity: 0
}
.sliders__slide.swiper-slide-active {
  transition: opacity .4s ease;
  opacity: 1
}
.sliders__pagination {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  bottom: 0
}
.sliders__pagination.swiper-pagination {
  display: flex;
  align-items: center;
  max-width: -webkit-max-content;
  max-width: max-content;
  gap: .375rem
}
.sliders__pagination.swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  max-width: .5rem;
  opacity: .2;
  transition: opacity .3s ease
}
.sliders__pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1
}
.sliders__button {
  position: absolute;
  z-index: 2;
  transition: opacity .3s ease
}
.sliders__button::before {
  content: "";
  position: relative;
  width: .4375rem;
  aspect-ratio: 6/12
}
.sliders__button.swiper-button-prev {
  left: 0
}
.sliders__button.swiper-button-prev::before {
  left: -.0625rem;
  background-image: url(../img/icons/arrow-prev.svg)
}
.sliders__button.swiper-button-next {
  right: 0
}
.sliders__button.swiper-button-next::before {
  right: -.0625rem;
  background-image: url(../img/icons/arrow-next.svg)
}
.sliders__button.swiper-button-disabled {
  opacity: .4
}
.slide-sliders {
  position: relative
}
.slide-sliders__title {
  text-align: center;
  margin-bottom: 1.375rem;
  position: relative;
  z-index: 2
}
.slide-sliders__picture {
  position: relative;
  z-index: 2
}
.slide-sliders__animations {
  pointer-events: none
}
.slide-sliders__anim-img {
  width: 115vw;
  height: auto;
  -webkit-transform: scale(0);
  transform: scale(0)
}
.swiper-slide-active .slide-sliders__anim-img {
  transition: opacity .2s ease .55s,-webkit-transform .65s ease .55s;
  transition: transform .65s ease .55s,opacity .2s ease .55s;
  transition: transform .65s ease .55s,opacity .2s ease .55s,-webkit-transform .65s ease .55s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1
}
.advantages .section-wrapper:before {
  content: "";
  background-image: url(../img/elements/circle-blur-big.svg);
  aspect-ratio: 1;
  z-index: 0
}
.advantages__bg {
  position: absolute;
  inset: 0;
  z-index: 1
}
.advantages__container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column
}
.advantages__title {
  text-align: center
}
.advantages__content {
  flex: 1
}
.advantages__slider {
  max-width: 72.5rem;
  width: 100%
}
.advantages__list {
  width: 100%;
  display: grid;
  gap: 1.25rem;
  height: 100%
}
.advantages__item {
  position: relative
}
.advantages__block {
  position: relative;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  padding-inline: 1.875rem;
  width: 100%;
  height: 100%
}
.advantages__block:before {
  content: "";
  background-image: url(../img/advantages/circle-blur.webp);
  width: 24rem;
  aspect-ratio: 1
}
.snack .section-wrapper {
  display: flex;
  align-items: center
}
.snack__bg {
  position: absolute;
  inset: 0;
  z-index: 1
}
.snack__container {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 80px
}
.snack__container:before {
  content: "";
  background-image: url(../img/elements/circle-blur-big.svg);
  aspect-ratio: 1
}
.snack__content {
  line-height: 1.2
}
.tap-snack {
  position: relative
}
.tap-snack__btn {
  position: absolute;
  z-index: 10;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--primary);
  padding: .9375rem;
  border-radius: 1.25rem;
  background-color: var(--white);
  transition: opacity .45s ease 1s,color .3s ease
}
.tap-snack__btn._hidden {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s
}
.tap-snack__body {
  position: relative
}
.tap-snack__img {
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  transition: opacity .1s ease,-webkit-transform .2s ease;
  transition: opacity .1s ease,transform .2s ease;
  transition: opacity .1s ease,transform .2s ease,-webkit-transform .2s ease;
  pointer-events: none;
  cursor: pointer
}
.tap-snack__img._active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  pointer-events: all
}
.tap-snack__img:nth-child(1) {
  position: relative
}
.tap-snack__img img {
  width: 100%;
  height: auto;
  max-width: 22.75rem
}
.tap-snack__result {
  position: absolute;
  z-index: 3;
  transition: opacity .3s ease
}
.tap-snack__result._not-active {
  opacity: 0;
  pointer-events: none
}
.tap-snack__bg {
  position: absolute;
  z-index: 0
}
.tap-snack__bg.bg-1 {
  top: 0;
  left: 0;
  width: 7.4375rem;
  aspect-ratio: 119/98;
  background-image: url(../img/snack/result-el-1.svg);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.tap-snack__bg.bg-2 {
  top: 0;
  right: 0;
  width: 5.25rem;
  aspect-ratio: 84/86;
  background-image: url(../img/snack/result-el-2.svg);
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%)
}
.tap-snack__bg.bg-3 {
  width: 8.5625rem;
  aspect-ratio: 137/115;
  background-image: url(../img/snack/result-el-3.svg);
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%,65%);
  transform: translate(-50%,65%)
}
.tap-snack__block {
  position: relative;
  z-index: 1;
  text-align: center;
  background-color: var(--white);
  width: 100%;
  padding-inline: 1.25rem
}
.tap-snack__title {
  color: var(--primary);
  margin-bottom: .625rem
}
.tap-snack__results-txt {
  color: var(--purple);
  font-weight: 700;
  display: none
}
.tap-snack__results-txt._active {
  display: block
}
.contacts:before {
  content: "";
  background-image: url(../img/elements/circle-blur-big.svg);
  aspect-ratio: 1;
  z-index: 0
}
.contacts__bg {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}
.contacts__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column
}
.contacts__title {
  text-align: center
}
.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
  position: relative;
  z-index: 2
}
.contacts__contacts {
  flex: 1;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.4;
  text-align: center
}
.contacts__text {
  font-size: 1.5rem
}
.contacts__tel {
  font-size: 2.125rem
}
.contacts__social {
  justify-content: center
}
.social {
  gap: .9375rem
}
.social__link {
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease,-webkit-transform .45s ease;
  background-color: var(--white);
  border-radius: 50%
}
.swiper {
  overflow: visible
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .form {
    padding-inline: 2.5rem;
    -webkit-padding-before: 2.5rem;
    padding-block-start: 2.5rem;
    -webkit-padding-after: 3.125rem;
    padding-block-end: 3.125rem
  }
  .form__items {
    grid-template-columns: 49% 49%
  }
  .preloader-main__logo {
    -webkit-transform: scale(.5) translate(-50%,-50%);
    transform: scale(.5) translate(-50%,-50%);
    max-width: 61.25rem;
    width: 67vw;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
  }
  .loaded .preloader-main__logo {
    transition: -webkit-transform .65s ease 0s;
    transition: transform .65s ease 0s;
    transition: transform .65s ease 0s,-webkit-transform .65s ease 0s;
    -webkit-transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%)
  }
  .header {
    top: 5.4375rem
  }
  .sliders__button {
    top: 50%
  }
  .tap-snack__block {
    min-width: 23.75rem;
    border-radius: 2.5rem
  }
  .contacts {
    display: grid;
    place-items: center;
    overflow: hidden!important
  }
}
@media (orientation:portrait)and (min-width:29.99875em) {
  .sliders__container {
    height: 100%
  }
  .contacts__bg::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    inset: 0;
    background-image: url(../img/elements/elements-2-mb.webp);
    background-position: 0 8.75rem
  }
  .contacts__bg::after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    inset: 0;
    background-image: url(../img/elements/elements-4-mb.webp);
    background-position: 0 97%
  }
}
@media (min-width:43.81125em) {
  .snack__container {
    align-items: center;
    padding-block: 6.25rem;
    max-width: 62.5rem
  }
}
@media (min-width:51.31125em) {
  .sliders__container {
    padding-top: 5.25rem;
    padding-bottom: 4.375rem
  }
  .advantages__container {
    padding-top: 5.25rem;
    padding-bottom: 9.375rem
  }
  .advantages__content {
    display: flex;
    align-items: center
  }
  .advantages__list {
    max-height: 29.1875rem;
    grid-template-columns: repeat(3,1fr)
  }
  .advantages__item {
    background-color: var(--white);
    border-radius: 2.5rem;
    padding-inline: 1.25rem;
    padding-block: 4.375rem;
    box-shadow: 2px 2px 0 0 #231f20
  }
  .advantages__item::after,
  .advantages__item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 100%;
    aspect-ratio: 370/70
  }
  .advantages__item::before {
    top: 0;
    background-image: url(../img/advantages/header.webp)
  }
  .advantages__item::after {
    bottom: 0;
    background-image: url(../img/advantages/footer.webp)
  }
  .advantages__block {
    border-radius: 1.875rem;
    min-height: 17.6875rem
  }
  .snack__container:before {
    left: 80%
  }
  .snack__subtitle {
    max-width: 80%
  }
  .tap-snack__btn {
    top: -5rem;
    left: 1.25rem
  }
  .contacts__container {
    padding-top: 5.25rem;
    padding-bottom: 1.875rem
  }
}
@media (min-width:61.99875em) {
  .menu__body {
    border-radius: 3.125rem
  }
  .menu__list {
    min-height: 3.125rem;
    align-items: center
  }
  .snack__container {
    grid-template-columns: 52% 1fr
  }
}
@media (min-width:68.81125em) {
  .advantages__block {
    font-size: 2.25rem
  }
}
@media (min-width:90.06125em) {
  .form__msg {
    font-size: 2.25rem
  }
  .circle--big {
    max-width: 58rem
  }
  .title-64 {
    font-size: 4rem
  }
  .title-46 {
    font-size: 2.875rem
  }
  .title-36 {
    font-size: 2.25rem
  }
  .title-26 {
    font-size: 1.625rem
  }
  .title-24 {
    font-size: 1.5rem
  }
  .mb-40-26 {
    margin-bottom: 2.5rem
  }
  .mb-30-20 {
    margin-bottom: 1.875rem
  }
  .sliders .section-wrapper:before {
    width: 125rem
  }
  .advantages .section-wrapper:before {
    width: 125rem
  }
  .snack__container:before {
    width: 93.75rem
  }
  .tap-snack__block {
    padding-block: 2.1875rem
  }
  .tap-snack__results-txt {
    font-size: 2.5rem
  }
  .contacts:before {
    width: 125rem
  }
}
@media (max-width:75em) {
  .fp-bullets {
    right: 1.25rem
  }
}
@media (max-width:20em) {
  .file-input__txts .input-file-att {
    max-width: 11.875rem
  }
}
@media (max-width:68.81125em) {
  .advantages__block {
    font-size: 3vw
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    border-radius: 1.5625rem
  }
  .menu__list {
    padding-block: 1.5rem;
    flex-direction: column
  }
}
@media (max-width:51.31125em) {
  .sliders__container {
    padding-top: 10rem;
    padding-bottom: 3.125rem
  }
  .advantages__container {
    padding-top: 10rem
  }
  .advantages__list {
    padding: 1.25rem;
    background-color: var(--white);
    border-radius: 2.5rem
  }
  .advantages__item:nth-child(1) .advantages__block {
    border-radius: 1.875rem 1.875rem .5rem .5rem
  }
  .advantages__item:nth-child(2) .advantages__block {
    border-radius: .5rem
  }
  .advantages__item:nth-child(3) .advantages__block {
    border-radius: .5rem .5rem 1.875rem 1.875rem
  }
  .advantages__block {
    padding-block: .9375rem
  }
  .advantages__block {
    font-size: 5vw
  }
  .snack__container:before {
    top: 70%
  }
  .snack__content {
    text-align: center
  }
  .snack__subtitle {
    margin-inline: auto;
    max-width: 21.25rem
  }
  .contacts__container {
    padding-top: 10rem
  }
}
@media (max-width:51.31125em)and (max-width:29.99875em) {
  .tap-snack__btn {
    top: 0;
    left: 1.25rem
  }
}
@media (max-width:43.81125em) {
  .snack__container {
    padding-top: 6.25rem
  }
}
@media (max-width:30.06125em) {
  .form__msg {
    font-size: 1.625rem
  }
  .circle--big {
    max-width: 52.75rem
  }
  .title-64 {
    font-size: 2.25rem
  }
  .title-46 {
    font-size: 2.25rem
  }
  .title-36 {
    font-size: 1.625rem
  }
  .title-26 {
    font-size: 1.375rem
  }
  .title-24 {
    font-size: 1.375rem
  }
  .mb-40-26 {
    margin-bottom: 1.625rem
  }
  .mb-30-20 {
    margin-bottom: 1.25rem
  }
  .sliders .section-wrapper:before {
    width: 62.5rem
  }
  .advantages .section-wrapper:before {
    width: 62.5rem
  }
  .snack__container:before {
    width: 62.5rem
  }
  .tap-snack__block {
    padding-block: 1.75rem
  }
  .tap-snack__results-txt {
    font-size: 2rem
  }
  .contacts:before {
    width: 62.5rem
  }
}
@media (max-width:29.99875em) {
  .form {
    padding: 1.25rem
  }
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    flex-direction: row;
    right: 50%
  }
  .preloader-main__logo {
    width: 77vw
  }
  .header {
    top: 1.875rem
  }
  .sliders__container {
    height: 100%;
    padding-top: 6.875rem
  }
  .sliders__pagination {
    bottom: 0
  }
  .sliders__button {
    bottom: -1.25rem
  }
  .slide-sliders__title {
    padding-inline: 20px
  }
  .slide-sliders__picture {
    overflow: hidden;
    margin-inline: -1.25rem
  }
  .advantages__bg {
    background-position: 0 5.625rem!important
  }
  .advantages__container {
    padding-top: 7.5rem
  }
  .advantages__block p br {
    display: none
  }
  .advantages__block p {
    max-width: 80%
  }
  .advantages__block {
    font-size: 1.5rem
  }
  .tap-snack {
    max-width: 80%;
    margin-inline: auto
  }
  .tap-snack__btn {
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .tap-snack__block {
    min-width: 18.75rem;
    border-radius: 2rem
  }
  .contacts {
    overflow-x: hidden!important
  }
  .contacts__container {
    padding-top: 7.5rem;
    padding-bottom: 8.125rem
  }
  .contacts__container::before {
    pointer-events: none;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    inset: 0;
    background-image: url(../img/elements/elements-2-mb.webp);
    background-position: 0 5.625rem
  }
  .contacts__container::after {
    pointer-events: none;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    inset: 0;
    background-image: url(../img/elements/elements-4-mb.webp);
    background-position: 0 97%
  }
}
@media (max-width:23.49875em) {
  .header {
    top: .9375rem
  }
  .sliders__container {
    padding-top: 5rem
  }
  .slide-sliders__title {
    font-size: 1.875rem!important;
    margin-bottom: .625rem
  }
  .advantages__bg {
    background-position: 0 4.375rem!important
  }
  .advantages__container {
    padding-top: 5.625rem
  }
  .advantages__block p {
    max-width: 100%
  }
  .contacts__container {
    padding-top: 5.625rem
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .form__msg {
    font-size: clamp(1.625rem ,1.3118619792rem + 1.0416666667vw ,2.25rem)
  }
  .circle--big {
    max-width: clamp(52.75rem ,50.119640625rem + 8.75vw ,58rem)
  }
  .title-64 {
    font-size: clamp(2.25rem ,1.3732135417rem + 2.9166666667vw ,4rem)
  }
  .title-46 {
    font-size: clamp(2.25rem ,1.9368619792rem + 1.0416666667vw ,2.875rem)
  }
  .title-36 {
    font-size: clamp(1.625rem ,1.3118619792rem + 1.0416666667vw ,2.25rem)
  }
  .title-26 {
    font-size: clamp(1.375rem ,1.2497447917rem + .4166666667vw ,1.625rem)
  }
  .title-24 {
    font-size: clamp(1.375rem ,1.3123723958rem + .2083333333vw ,1.5rem)
  }
  .mb-40-26 {
    margin-bottom: clamp(1.625rem ,1.1866067708rem + 1.4583333333vw ,2.5rem)
  }
  .mb-30-20 {
    margin-bottom: clamp(1.25rem ,.9368619792rem + 1.0416666667vw ,1.875rem)
  }
  .sliders .section-wrapper:before {
    width: clamp(62.5rem ,31.1861979167rem + 104.1666666667vw ,125rem)
  }
  .advantages .section-wrapper:before {
    width: clamp(62.5rem ,31.1861979167rem + 104.1666666667vw ,125rem)
  }
  .snack__container:before {
    width: clamp(62.5rem ,46.8430989583rem + 52.0833333333vw ,93.75rem)
  }
  .tap-snack__block {
    padding-block: clamp(1.75rem ,1.5308033854rem + .7291666667vw ,2.1875rem)
  }
  .tap-snack__results-txt {
    font-size: clamp(2rem ,1.7494895833rem + .8333333333vw ,2.5rem)
  }
  .contacts:before {
    width: clamp(62.5rem ,31.1861979167rem + 104.1666666667vw ,125rem)
  }
}
@media (min-width:20em)and (max-width:30.06125em) {
  .file-input__txts .input-file-att {
    max-width: clamp(11.875rem ,-.0519474469rem + 59.6347372344vw ,17.875rem)
  }
}
@media (max-width:51.31125em)and (min-width:29.99875em) {
  .advantages__content {
    display: grid;
    place-items: center
  }
}
@media (max-width:51.31125em)and (min-width:23.49875em) {
  .advantages__block {
    min-height: 7.375rem
  }
}
@media (max-width:61.99875em)and (min-width:51.31125em) {
  .snack__container {
    grid-template-columns: auto auto
  }
}
@media (any-hover:hover) {
  .form__button:hover {
    opacity: .8
  }
  .file-input__remove:hover {
    background-color: rgba(0,0,0,.5)
  }
  .fp-bullets .fp-bullet:hover {
    opacity: 1
  }
  .menu__lng:hover {
    color: var(--purple)
  }
  .menu__link:hover {
    color: var(--purple)
  }
  .tap-snack__btn:hover {
    color: var(--purple)
  }
  .social__link:hover {
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px)
  }
}
@media (orientation:landscape) {
  .advantages__bg,
  .preloader-main__el {
    background-image: url(../img/elements/elements-1-pc.webp)
  }
  .sliders .section-wrapper {
    display: flex;
    align-items: center
  }
  .sliders__button {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .snack__bg {
    background-image: url(../img/elements/elements-3-pc.webp)
  }
  .contacts__bg {
    background-image: url(../img/elements/elements-4-pc.webp)
  }
}
@media (orientation:portrait) {
  .advantages__bg,
  .preloader-main__el {
    background-image: url(../img/elements/elements-1-mb.webp)
  }
  .sliders__slider {
    height: 100%
  }
  .slide-sliders {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr
  }
  .advantages__bg {
    background-image: url(../img/elements/elements-2-mb.webp);
    background-position: 0 8.75rem
  }
  .snack__bg {
    background-image: url(../img/elements/elements-3-mb.webp)
  }
}
@media (max-height:30.06125em) {
  .header {
    top: 1.875rem
  }
  .sliders__container {
    height: 100%;
    padding-top: 4.375rem!important;
    padding-bottom: 0!important
  }
  .advantages__container {
    padding-top: 3.125rem!important
  }
  .advantages__content {
    align-items: flex-start!important
  }
  .advantages__list {
    border-radius: 1.875rem;
    grid-template-columns: repeat(3,1fr)!important;
    gap: .625rem!important
  }
  .advantages__block {
    border-radius: .5rem!important
  }
  .advantages__block {
    font-size: 1.125rem!important
  }
  .snack__container:before {
    top: 50%!important;
    left: 70%!important
  }
  .snack__container {
    grid-template-columns: auto auto!important
  }
  .snack__content {
    text-align: left!important
  }
  .tap-snack {
    scale: .7
  }
  .contacts {
    overflow-y: auto!important
  }
  .contacts__container {
    padding-top: 3.125rem!important
  }
}
@media (any-hover:none) {
  .icon-menu__item {
    cursor: default
  }
}