body {
  background-color: var(--brown-dard);
  color: var(--white);

//  color-scheme: light;
//   image-rendering: auto;
//   -webkit-font-smoothing: antialiased;

}

* {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
    padding: toRem(1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
    background-clip: padding-box; 
  }
}

[class*="__container"] {
  width: 100%;
  padding-inline: toRem(20);
  margin-inline: auto;
  max-width: toRem(1204);
}

%ibg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

%img {
  width: 100%;
  height: auto;
}

%gridCenter {
  display: grid;
  place-items: center;
}
%flexCenter {
  display: flex;
  align-items: center;
}

%absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

%shadowBox {
   box-shadow: 2px 2px 0 0 #231f20;
}
%shadowText {
   text-shadow: 2px 2px 0 #231f20;
}

%elImg {
     background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    @media (orientation: landscape) {
      background-image: url('@img/elements/elements-1-pc.png');
    }
    @media (orientation: portrait) {    
      background-image: url('@img/elements/elements-1-mb.png');
    }
}
%elImgContain {
  background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
%elImgCover {
  background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

%buttonCircle {
  display: grid;
  place-items: center;
  width: toRem(50);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white);
    box-shadow: 2px 2px 0 0 #231f20;
}

.circle {
  @extend %absoluteCenter;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(200px);
  -webkit-filter: blur(200px);
  &--big {
    @include adaptiveValue("max-width", 928, 844,0,1440.98,480.98);
  }
  &--sm {
    max-width: toRem(184);
  }
}

.bg-green-light {
  background-color: var(--green-light);
}
.bg-green-2 {
  background-color: var(--green2);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-purple-2 {
  background-color: var(--purple2);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-blue-2 {
  background-color: var(--blue2);
}
.bg-white {
  background-color: var(--white);
}


.preloader-main {
  background-color: var(--green-light);
  position: fixed;
  z-index: 20;
  inset: 0;
  overflow: hidden;
  .loaded & {
    transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 1.6s, opacity .65s ease 2.6s;
    opacity: 0;
    transform: translate(0,-100%);
  }
  // .preloader-main__el
  &__el {
    @extend %absoluteCenter;
    width: 100%;
    height: 100%;
    max-width: toRem(1440);
    z-index: 1;
    @extend %elImg;
		}
		// .preloader-main__logo
		&__logo {
      @extend %absoluteCenter;
      z-index: 2;
      @media (min-width:$mobileSmall){
        transform: scale(0.5) translate(-50%,-50%);
        max-width: toRem(980);
        width: 67vw;
        transform-origin: 0 0;
        .loaded & {
          transition: transform .65s ease 0s;
          transform: scale(1) translate(-50%,-50%);
        }
      }
      @media (max-width:$mobileSmall){
        width: 77vw; 
      }
		}
}


.section-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 1;
}

.title-64 {
  @include adaptiveValue("font-size", 64, 36,0,1440.98,480.98);
  @extend %shadowText;
  font-weight: 700;
}
.title-46 {
  @include adaptiveValue("font-size", 46, 36,0,1440.98,480.98);
  @extend %shadowText;
  font-weight: 700;
}

.title-36 {
  @include adaptiveValue("font-size", 36, 26,0,1440.98,480.98);
  @extend %shadowText;
  font-weight: 400;
}
.title-26 {
  @include adaptiveValue("font-size", 26, 22,0,1440.98,480.98);
  font-weight: 700;
}
.title-24 {
  @include adaptiveValue("font-size", 24, 22,0,1440.98,480.98);
  font-weight: 700;
}
.mb-40-26 {
  @include adaptiveValue("margin-bottom", 40, 26,0,1440.98,480.98);
}
.mb-30-20 {
  @include adaptiveValue("margin-bottom", 30, 20,0,1440.98,480.98);
}