.header {
  position: fixed;
  z-index: 15;
  width: 100%;
  left: 0;
  pointer-events: none;

  @media (min-width:$mobileSmall) {
    top: toRem(87);
  }

  @media (max-width:$mobileSmall) {
    top: toRem(30);
  }

  @media (max-height: toEm(480.98)) {
    top: toRem(30);
  }

  @media (max-width: toEm(375.98)) {
    top: toRem(15);
  }

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo
  &__logo {
    pointer-events: all;
  }

  // .header__menu
  &__menu {
    pointer-events: all;
  }
}

.menu {
  position: relative;
  color: var(--primary);

  // .menu__icon
  &__icon {}

  // .menu__body
  &__body {
    position: absolute;
    top: 0;
    right: toRem(70);
    background-color: var(--white);
    opacity: 0;

    .menu-open & {
      opacity: 1;
    }

    @extend %shadowBox;

    @media (min-width:$tablet) {
      border-radius: toRem(50);
    }

    @media (max-width:$tablet) {
      border-radius: toRem(40);
    }
  }

  // .menu__list
  &__list {
    display: flex;
    padding-inline: toRem(24);
    gap: toRem(24);

    @media (min-width:$tablet) {
      min-height: toRem(50);
      align-items: center;
    }

    @media (max-width:$tablet) {
      padding-block: toRem(24);
      flex-direction: column;
    }
  }

  // .menu__item
  &__item {}

  // .menu__link
  &__link {
    font-size: toRem(24);
    font-weight: 700;
    transition: color .3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: var(--purple)
      }
    }
  }
}


//Burger Icon
.icon-menu {
  @extend %buttonCircle;

  // .icon-menu__item
  &__item {
    position: relative;
    width: toRem(24);
    height: toRem(16);
    z-index: 5;

    @media (any-hover: none) {
      cursor: default;
    }

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      border-radius: 2px;
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - toRem(1));
      width: 70%;
      right: unset;
      left: 0;
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {}

      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}

%sectionCentered {
  @media (orientation: landscape) {
    height: 100%;
  }

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// ==== SECTIONS ================================
.sliders {

  .section-wrapper {
    @media (orientation: landscape) {
      display: flex;
      align-items: center;
    }

    &:before {
      content: '';
      @extend %absoluteCenter;
      @extend %elImgContain;
      background-image: url('@img/elements/circle-blur-big.svg');
      aspect-ratio: 1;
      @include adaptiveValue("width", 2000, 1000, 0, 1440.98, 480.98);
    }

    transition: background-color .5s ease;

    &.slide-active-01 {
      background-color: var(--purple);
    }

    &.slide-active-02 {
      background-color: var(--green);
    }

    &.slide-active-03 {
      background-color: var(--blue);
    }

    &.slide-active-04 {
      background-color: var(--gold);
    }

    &.slide-active-05 {
      background-color: var(--brown);
    }
  }

  // .sliders__container
  &__container {
    @media (orientation: portrait) and (min-width:$mobileSmall) {
      height: 100%;
    }

    @media (max-height: toEm(480.98)) {
      height: 100%;
      padding-top: toRem(70) !important;
      padding-bottom: 0 !important;
    }

    @media (min-width:toEm(820.98)) {
      padding-top: toRem(84);
      padding-bottom: toRem(70);
    }

    @media (max-width: toEm(820.98)) {
      padding-top: toRem(160);
      padding-bottom: toRem(50);
    }

    @media (max-width:$mobileSmall) {
      height: 100%;
      padding-top: toRem(110);
    }

    @media (max-width: toEm(375.98)) {
      padding-top: toRem(80);
    }
  }

  // .sliders__slider
  &__slider {
    position: relative;
    max-width: toRem(1204);

    @media (orientation: portrait) {
      height: 100%;
    }

    @media (max-width:$mobileSmall) {
      //  margin-inline: toRem(-16);
    }
  }

  // .sliders__wrapper
  &__wrapper {}

  // .sliders__slide
  &__slide {
    transition: opacity .2s ease;
    opacity: 0;

    &.swiper-slide-active {
      transition: opacity .4s ease;
      opacity: 1;
    }
  }

  // .sliders__pagination
  &__pagination {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;

    @media (max-width:$mobileSmall) {
      bottom: toRem(0);
    }

    &.swiper-pagination {
      display: flex;
      align-items: center;
      max-width: max-content;
      gap: toRem(6);

      .swiper-pagination-bullet {
        cursor: pointer;
        @extend %buttonCircle;
        max-width: toRem(8);
        opacity: .2;
        transition: opacity .3s ease;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }

  }

  // .sliders__button
  &__button {
    position: absolute;
    z-index: 2;
    transition: opacity .3s ease;

    @media (orientation: landscape) {
      transform: translateY(-50%);
    }

    @media (min-width:$mobileSmall) {
      top: 50%;
    }

    @media (max-width:$mobileSmall) {
      bottom: toRem(-20);
    }

    @extend %buttonCircle;

    &::before {
      content: '';
      position: relative;
      @extend %elImgContain;
      width: toRem(7);
      aspect-ratio: 6/12;
    }

    &.swiper-button-prev {
      left: 0;

      &::before {
        left: toRem(-1);
        background-image: url('@img/icons/arrow-prev.svg');
      }
    }

    &.swiper-button-next {
      right: 0;

      &::before {
        right: toRem(-1);
        background-image: url('@img/icons/arrow-next.svg');
      }
    }

    &.swiper-button-disabled {
      opacity: 0.4;
    }
  }
}


.slide-sliders {
  position: relative;


  // border: 1px solid #000;
  @media (orientation: portrait) {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  // .slide-sliders__title
  &__title {
    text-align: center;
    margin-bottom: toRem(22);
    position: relative;
    z-index: 2;

    @media (max-width:$mobileSmall) {
      padding-inline: 20px;
    }

    @media (max-width: toEm(375.98)) {
      font-size: toRem(30) !important;
      margin-bottom: toRem(10);
    }
  }

  // .slide-sliders__picture
  &__picture {
    position: relative;
    z-index: 2;

    // border: 1px solid red;
    @media (max-width:$mobileSmall) {
      overflow: hidden;
      margin-inline: toRem(-20);
    }
  }

  // .slide-sliders__img
  &__img {
    //  @media (orientation: portrait) {
    //   max-height: max-content;
    //  }
  }

  // .slide-sliders__animations
  &__animations {
    @extend %absoluteCenter;
    pointer-events: none;
  }

  // .slide-sliders__anim-img
  &__anim-img {}

  // .slide-sliders__anim
  &__anim-img {
    width: 115vw;
    height: auto;
    transform: scale(0);

    .swiper-slide-active & {
      transition: transform .65s ease .55s, opacity .2s ease 0.55s;
      transform: scale(1);
      opacity: 1;
    }
  }
}

// ==== SECTIONS ================================
.advantages {
  // @extend %elImgCover;

  // @media (orientation: landscape) {
  //   background-image: url('@img/bgs/bg-orange-pc.jpg');
  // }

  // @media (orientation: portrait) {
  //   background-image: url('@img/bgs/bg-orange-mb.jpg');
  // }

  .section-wrapper {
    &:before {
      content: '';
      @extend %absoluteCenter;
      @extend %elImgContain;
      background-image: url('@img/elements/circle-blur-big.svg');
      aspect-ratio: 1;
      z-index: 0;
      @include adaptiveValue("width", 2000, 1000, 0, 1440.98, 480.98);
    }
  }

  // .advantages__bg
  &__bg {
    position: absolute;
    inset: 0;
    z-index: 1;
    @extend %elImg;

    @media (orientation: portrait) {
      background-image: url('@img/elements/elements-2-mb.png');
      background-position: 0 toRem(140);
    }

    @media (max-width:$mobileSmall) {
      background-position: 0 toRem(90) !important;
    }
  }

  // .advantages__container
  &__container {
    // @extend %sectionCentered;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width:toEm(820.98)) {
      padding-top: toRem(84);
      padding-bottom: toRem(150);
    }

    @media (max-width: toEm(820.98)) {
      padding-top: toRem(160);
    }

    @media (max-width:$mobileSmall) {
      padding-top: toRem(120);
    }

    @media (max-height: toEm(480.98)) {
      padding-top: toRem(50);
    }
  }


  // .advantages__title
  &__title {
    text-align: center;
  }

  // .advantages__content
  &__content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  // .advantages__slider
  &__slider {
    max-width: toRem(1160);
    width: 100%;

    @media (max-width:toEm(920.98)) {
      max-width: toRem(373);
    }
  }

  // .advantages__list
  &__list {
    // width: 100%;
    // display: grid;
    // gap: toRem(20);
    // height: 100%;
    // max-height: toRem(467);
    // @media (min-width:toEm(820.98)){
    //   grid-template-columns: repeat(3,1fr);
    // }
    // @media (max-width: toEm(820.98)){
    //   grid-template-columns: repeat(2,1fr);
    // }
  }

  // .advantages__item
  &__item {
    position: relative;
    background-color: var(--white);
    border-radius: toRem(40);
    padding-block: toRem(70);
    padding-inline: toRem(20);
    @extend %shadowBox;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      @extend %elImgContain;
      width: 100%;
      min-width: 100%;
      aspect-ratio: 370/70;
    }

    &::before {
      top: 0;
      background-image: url('@img/advantages/header.png');
    }

    &::after {
      bottom: 0;
      background-image: url('@img/advantages/footer.png');
    }
  }

  // .advantages__block
  &__block {
    position: relative;
    border-radius: toRem(30);
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    width: 100%;
    height: 100%;
    min-height: toRem(283);
    @extend %gridCenter;

    p {
      @extend %shadowText;
    }

    &:before {
      content: '';
      @extend %absoluteCenter;
      @extend %elImgContain;
      background-image: url('@img/advantages/circle-blur.png');
      width: toRem(384);
      aspect-ratio: 1;
    }

    @media (min-width:toEm(1100.98)) {
      font-size: toRem(36);
    }

    @media (max-width: toEm(1100.98)) {
      font-size: 3vw;
    }

    @media (max-width:$mobile) {
      font-size: 5vw;
    }

    @media (max-width:$mobileSmall) {
      font-size: 9vw;
    }
  }
}


// ==== SECTIONS ================================
.snack {
  .section-wrapper {
    display: flex;
    align-items: center;
  }
  // .snack__bg
  &__bg {
    position: absolute;
    inset: 0;
    z-index: 1;
    @extend %elImgContain;
     @media (orientation: landscape) {
      background-image: url('@img/elements/elements-3-pc.png');
    }
    @media (orientation: portrait) {    
      background-image: url('@img/elements/elements-3-mb.png');
    }
}

// .snack__container
&__container {
  position: relative;
  z-index: 1;
  display: grid;
  
  gap: 80px;
  @media (min-width:$tablet){
    grid-template-columns: 52% 1fr;
  }
  @media (max-width:$tablet) and (min-width:toEm(820.98)){
    grid-template-columns: auto auto;
  }
  @media (min-width:toEm(700.98)){
    align-items: center;
    padding-block: toRem(100);
    max-width: toRem(1000);
  }
  @media (max-width: toEm(700.98)){
    padding-top: toRem(100);
  }
  @media (max-height:toEm(480.98)){
    grid-template-columns: auto auto !important;
  }
}

// .snack__content
&__content {
  line-height: 1.2;
  @media (max-width: toEm(820.98)){
    text-align: center;
  }
   @media (max-height:toEm(480.98)){
    text-align: left !important;
   }
}

// .snack__title
&__title {}

// .snack__subtitle
&__subtitle {
  @media (min-width:toEm(820.98)){
    max-width: 80%;
  }
  @media (max-width: toEm(820.98)){
      margin-inline: auto;
      max-width: toRem(340);
  }
}

// .snack__tap
&__tap {}
}

.tap-snack {
  position: relative;
  @media (max-width:$mobileSmall){
     max-width: 80%;
     margin-inline: auto; 
  }
   @media (max-height:toEm(480.98)){
      scale: 0.7;
   }
  // .tap-snack__body
  &__body {
    position: relative;
    @extend %gridCenter;
  }

  // .tap-snack__img
  &__img {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &._active {
      opacity: 1;
      pointer-events: all;
    }
    &:nth-child(1) {
      position: relative;
    }
    img {
      width: 100%;
      height: auto;
      max-width: toRem(364);
    }
    &.tap-snack-01 {}
    &.tap-snack-02 {}
    &.tap-snack-03 {}
    &.tap-snack-04 {}
    &.tap-snack-05 {}
  }
  // .tap-snack__result
  &__result {
    position: absolute;
    z-index: 3;
    @extend %absoluteCenter;
  }
  // .tap-snack__bg
  &__bg {
    position: absolute;
    z-index: 0;
    @extend %elImgContain;
    &.bg-1 {
      top: 0;
      left: 0;
      width: toRem(119);
      aspect-ratio: 119/98;        
      background-image: url('@img/snack/result-el-1.svg');
      transform: translate(-50%,-50%);
    }
    &.bg-2 {
      top: 0;
      right: 0;
      width: toRem(84);
      aspect-ratio: 84/86;        
      background-image: url('@img/snack/result-el-2.svg');
      transform: translate(50%,-50%);
      
    }
    &.bg-3 {
      width: toRem(137);
      aspect-ratio: 137/115;        
      background-image: url('@img/snack/result-el-3.svg');
      left: 50%;
      bottom: 0;
      transform: translate(-50%,65%);
      }
    }

  // .tap-snack__block
  &__block {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: var(--white);
    width: 100%;
    padding-inline: toRem(20);
    @include adaptiveValue("padding-block", 35, 28,0,1440.98,480.98);
    @extend %shadowBox;
    @media (min-width:$mobileSmall){
      min-width: toRem(380);
      border-radius: toRem(40); 
    }
    @media (max-width:$mobileSmall){
      min-width: toRem(300);
      border-radius: toRem(32); 
    }
  }

  // .tap-snack__title
  &__title {
    color: var(--primary);
    margin-bottom: toRem(10);
  }

  // .tap-snack__results-txt
  &__results-txt {
    color: var(--purple);
      @include adaptiveValue("font-size", 40, 32,0,1440.98,480.98);
    font-weight: 700;
    display: none;
    &._active {
    }
    &.txt-1 {
    }
    
    &.txt-2 {
      display: block;
      
    }
    
    &.txt-3 {
      
    }
    
    &.txt-4 {
      
    }
    
    &.txt-5 {
      
    }
  }
}

// ==== SECTIONS ================================
// ==== SECTIONS ================================
// ==== SECTIONS ================================
// ==== SECTIONS ================================